{% extends "pages/base.html" %}
{% block content %}


<!-- Content Row -->
<div class="row">
  <div class="col-12">
      <!--a simple place holder-->
        <div
            class="card-header py-3 d-flex">
        </div>
          <!--dashboard contents-->
        <div style="overflow-x: hidden;">
            <iframe title="ICDR_v1" scrolling="no" style="height: 100vh; width: calc(100% + 17px); border: none; display:block; padding:10px;" src="https://app.powerbi.com/view?r=eyJrIjoiNzJhZTE1M2MtYjgwNi00YWQyLWIzZTEtOTlkMjk4NGVkMWUwIiwidCI6IjYyNjg2NDAwLTllZjMtNDBkOS04ZTQxLWRiMTUzNzRiZTViZSJ9&pageName=ReportSection" frameborder="0"></iframe>
        </div>      
  </div>
</div>

{% endblock content %}
