{% extends "pages/base.html" %}
{% block content %}


<!-- Content Row -->
<div class="row">
  <div class="col-12">
      <!--a simple place holder-->
        <div
            class="card-header py-3 d-flex">
        </div>
          <!--dashboard contents-->
        <div style="overflow-x: hidden; height: 100%">
            <iframe title="ICDR_v1 - ART INITIATION" scrolling="no" style="height: 100vh; width: calc(100% + 17px); border: none;" src="https://app.powerbi.com/view?r=eyJrIjoiMTNjMzI1ZDItMDNjNy00MDhlLTg2NWEtOGY3NGZmNzBhOTlmIiwidCI6IjYyNjg2NDAwLTllZjMtNDBkOS04ZTQxLWRiMTUzNzRiZTViZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>      
  </div>
</div>

{% endblock content %}
