{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
{% include "atoms/head.html" %}
<body>
    {% block inner %}
        {# pages that do not need the wrapper (e.g login) should use this slot and turn off the page block #}
    {% endblock inner %}
    {% block page %}
        <div id="wrapper">
            {% block sidebar %}
                {% include "components/sidebar.html" %}
            {% endblock sidebar %}

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% block topbar %}
                        {% include "components/topbar.html" %}
                    {% endblock topbar %}
                    <div class="container-fluid">
                        {% block content %}
                            <p>This is a blank page (placeholder).</p>
                        {% endblock content %}
                    </div>
                </div>
                {% block footer %}
                    {% include "atoms/footer.html" %}
                {% endblock footer %}
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        {% block modal %}
            {% include "components/logout_modal.html" %}
        {% endblock modal %}
    {% endblock page %}
    {% block inline_javascript %}
        {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-6XRLBC4TMR');

<!--save logged in user details-->
gtag('set', 'user_properties', {
   first_name: "{{ user.first_name }}",
   last_name: "{{ user.last_name }}",
   email: "{{ user.email }}"
});

<!--log click event for every dashboard clicked-->
function getClickedDashboard(title){
    gtag('event','clicked_dashboard', {
    "dashboard": title
});

}
</script>

</body>

</html>
